*{
    font-family: 'Outfit', sans-serif;
    text-align: center;
}
body {
    background-color: hsl(212, 45%, 89%);
}
.container {
    width: 300px;
    background-color: aliceblue;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}
.qr-code {
    max-width: 100%;
    border-radius: 20px;
    margin: 20px auto;
}
p{
    margin: 20px 0;
    color: hsl(0, 0%, 50%);
}